.search_filter {
    background-color: $color-bg-grey-light;
    padding: 10px;
    &__header {
        display: table;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-bg-grey-dark;
        text-transform: uppercase;
        font-weight: bold;
        @include font-tuning(15, 15);
    }
    &__content {
        padding-top: 10px;
    }
    &__detail {
        display: table;
        width: 100%;
        text-decoration: none;
        margin-bottom: 10px;
    }
    &__name {
        display: table-cell;
        text-align: left;
        padding-right: 10px;
    }
    &__count {
        display: table-cell;
        text-align: right;
    }
}