
.review {
    padding-top: 50px;
    padding-bottom: 10px;
    &__item {
        padding: 10px 0;
        border-bottom: 1px solid $color-bg-grey-xmedium;
        &:last-child {
            border-bottom: none;
        }
    }
    &__title {
        margin-bottom: 10px;
        font-weight: bold;
        @include font-tuning(16, 18);
    }
    &__header {
        margin-bottom: 5px;
        font-weight: bold;
        @include font-tuning(14, 16);
    }
    &__name {
        color: $color-orange;
    }
    &__text {
        @include font-tuning(12, 14);
    }
}