.present_competition_reg {
    &__title {
        @extend .col-xs-12;
        padding-bottom: 20px;
    }
    &__description {
        @extend .col-xs-12;
        padding-bottom: 20px;
    }
    &__registration {
        @extend .col-lg-6;
        @extend .col-md-8;
        @extend .col-xs-12;
    }
    &__members {
        @extend .col-lg-6;
        @extend .col-md-4;
        @extend .col-xs-12;
    }
    &__subtitle {
        padding-bottom: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: $color-bg-grey-dark;
        @include font-tuning(17, 17);
        &_accent {
            color: orange;
        }
    }
    &__work-desc {
        padding-top: 20px;
    }
}