.social-links {
    height: 234px;
    padding: 12px 20px;
    text-align: center;
    background-color: $color-bg-grey-light;
    &__title {
        font-weight: bold;
        margin-bottom: 10px;
        @include font-tuning(16, 18);
    }
    &__master {
        display: table;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    &__photo-wr {
        display: table-cell;
        padding-right: 10px;
        text-align: right;
        vertical-align: middle;
    }
    &__photo {
        width: 50px;
        height: 50px;
    }
    &__name {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        font-weight: bold;
        @include font-tuning(11, 13);
    }
    &__note {
        @include font-tuning(10, 12);
    }
}