// GUI stylies of the project
// For example, styles of the links, buttons and so on.
.bg {
    &_grey {
        background: $color-bg-grey-light;
    }
    &_orange {
        background: $color-orange;
    }
}

/* углы */
.corner {
    position: relative;
    &:after {
        content: ' ';
        display: block;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%);
        width: 22px;
        height: 20px;
        border-top-width: 20px;
        border-right-width: 10px;
        border-left-width: 10px;
        border-bottom-width: 0;
        border-right-color: transparent;
        border-left-color: transparent;
        border-style: solid;
    }
    &_grey {
        &:after {
            border-top-color:$color-bg-grey-light;
        }
    }
    &_bg {
        &:after {
            border-top-color:$color-bg;
        }
    }
    &_orange {
        &:after {
            border-top-color:$color-orange;
        }
    }
}

/* углы конец */

/* иконки */
@mixin icon_size($size) {
    $koef: strip-unit($size)/strip-unit($base-icon-size);
    @include svg-sprite-size($people, $koef);
}
@mixin icon_size_xbig {
    @include icon_size(64px);
}
@mixin icon_size_big {
    @include icon_size(48px);
}

@mixin icon_size_medium {
    @include icon_size(32px);
}

@mixin icon_size_small {
    @include icon_size(24px);
}
@mixin icon_size_xsmall {
    @include icon_size(18px);
}

%icon {
    //base scale 64x64
    @include bg-svg-image($people); //переделать \!/!
    &_add-page {
        @include svg-sprite-position-percent($add-page);
    }
    &_people {
        @include svg-sprite-position-percent($people);
    }
    &_picture {
        @include svg-sprite-position-percent($picture);
    }
    &_picture_white {
        @include svg-sprite-position-percent($picture_white);
    }
    &_medal {
        @include svg-sprite-position-percent($medal);
    }
    &_mini-page {
        @include svg-sprite-position-percent($mini-page);
    }
    &_page {
        @include svg-sprite-position-percent($page);
    }
    &_video {
        @include svg-sprite-position-percent($video);
    }
    &_video_white {
        @include svg-sprite-position-percent($video_white);
    }
    &_dialog {
        @include svg-sprite-position-percent($dialog)
    }
    &_dialog_white {
        @include svg-sprite-position-percent($dialog_white);
    }
    &_gift {
        @include svg-sprite-position-percent($gift);
    }
    &_gift_white {
        @include svg-sprite-position-percent($gift_white);
    }
    &_strelka {
        @include svg-sprite-position-percent($strelka);
    }
    &_vk_white {
        @include svg-sprite-position-percent($vk_white);
    }
    &_ok_white {
        @include svg-sprite-position-percent($ok_white);
    }
    &_tw_white {
        @include svg-sprite-position-percent($tw_white);
    }
    &_fb_white {
        @include svg-sprite-position-percent($fb_white);
    }

    &_size_xbig {
        @include icon_size_xbig;
    }
    &_size_big {
        @include icon_size_big;
    }
    &_size_medium {
        @include icon_size_medium;
    }
    &_size_small {
        @include icon_size_small;
    }
    &_size_xsmall {
        @include icon_size_xsmall;
    }

    &_block {
        display: block;
    }
    &_inline {
        display: inline-block;
    }
}

/* иконки конец */

.form {
    input[type="text"],input[type="password"] {
        width: 100%;
        padding: 5px 10px;
        border: none;
        height: 37px;
        line-height: 37px;
        border: 1px solid #fff;
        &.error{
            border: 1px solid $color-red;
            background-color: lighten($color-red, 37%);
        }
    }
}

.btn {
    width: 100%;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: block;
    &_color_black{
        color: #fff;
        background-color: $color-bg-black-light;
        &:hover {
            background-color: $color-pink;
            color: #fff;
        }
    }
    &_color_pink {
        color: #fff;
        background-color: $color-pink;
        &:hover {
            background-color: $color-bg-black-light;
            color: #fff;
        }
    }
    &_color_red {
        color: #fff;
        background-color: $color-red;
        &:hover {
            background-color: darken($color-red, 10%);
            color: #fff;
        }
    }
    &_size_big {
        height: 50px;
        line-height: 50px;
    }
    &_size_medium {
        height: 40px;
        line-height: 40px;
    }
    &_uppercase{
        text-transform: uppercase;
    }
}