.master_page_card {
    background-color: $color-bg-grey-light;
    height: 225px;
    overflow: hidden;
    @include cf;
    &__photo {
        height: 225px;
        width: 225px;
        float: left;
        img {
            width: 100%;
            overflow: hidden;
        }
    }
    &__info {
        margin-left: 225px;
        padding: 20px;
        height: 100%;
        position: relative;
    }
    &__fio {
        margin-bottom: 10px;
        font-weight: bold;
        @include font-tuning(29, 33);
        @include to(lg) {
            @include font-tuning(26, 30);
        }
    }
    &__spec {
        word-break: break-all;
        @include font-tuning(18, 20);
        @include to(lg) {
            @include font-tuning(15, 17);
        }
    }
    &__info-bottom {
        position: absolute;
        padding: 10px 20px;
        bottom: 0;
        left: 0;
        right: 0;
        @include cf;
    }
    &__company {
        float: left;
    }

}

.master_number {
    float: right;
    width: 110px;
    &__text {
        margin-bottom: 5px;
        color: $color-orange;
        @include font-tuning(9, 9);
    }
    &__number {
        height: 33px;
        color: $color-orange;
        border: 1px solid $color-orange;
        letter-spacing: -0.05em;
        text-align: center;
        font-weight: bold;
        @include font-tuning(22, 32)
    }
    &__link {
        text-decoration: none;
        @include font-tuning(9, 9);
        span {
            text-decoration: underline;
        }
        &:after {
            content: ' →';
        }
    }
    @include to(lg) {
        display: none;
    }
}