.print_page {
    background-color: #FFFFFF;
}
.page_print_card {
    width: 340px;
    height: 190px;
    border: 1px solid #000000;
    @include cf;
    &__img {
        width: 150px;
        float: left;
    }
    &__info {
        margin-left: 160px;
        height: 150px;
        padding: 10px 15px 0 0;
    }
    &__name {
        padding-bottom: 10px;
        border-bottom: 1px dashed #000000;
        font-weight: bold;
        @include font-tuning(20, 20);
    }
    &__spec {
        overflow: hidden;
        height: 70px;
        padding-top: 3px;
        word-break: normal;
        @include font-tuning(13, 15);
    }
    &__url {
        height: 38px;
        text-align: center;
        font-weight: bold;
        color: #FFFFFF;
        background-color: $color-orange;
        @include font-tuning(20, 38);
    }
}