.arrive_block {
    @extend .col-xs-12;
    background-color: $color-bg-grey-light;
    &_fix {
        position: fixed;
        top: 0;
        z-index: 10;
        box-shadow: #cccccc 0px 5px 10px -3px;
        @include at(lg) {
            width: 960px;
        }
        @include at(md) {
            width: 710px;
        }
        @include at(sm) {
            width: 460px;
        }
        @include at(xs) {
            width: 230px;
        }
    }
    &__author {
        @extend .col-md-8;
        @extend .col-sm-10;
        height: 70px;
        @include at(xs) {
            @include font-tuning(12, 14);
        }
    }
    &__back-link {
        @extend .col-md-4;
        @extend .col-sm-2;
        height: 70px;
        text-align: right;
        padding-top: 22px;
        @include font-tuning(17, 17);
        @include to(md) {
            padding: 20px 5px 0 0;
            text-align: left;
            @include font-tuning(12, 14);
        }
        @include at(xs) {
            padding: 5px 10px 10px 70px;
            height: auto;
        }
    }
    &__photo {
        width: 50px;
        height: 50px;
        overflow: hidden;
        float: left;
        @include vertical-align;
        img {
            width: 100%;
        }
    }
    &__name {
        margin-left: 60px;
        @include vertical-align;
    }
}