.page_search_result {
    &__search {
        @extend .col-xs-12;
        padding-bottom: 20px;
    }
    &__left-column {
        @extend .col-md-3;
    }
    &__filter {
        padding-bottom: 20px;
    }
    &__manner {
        padding-bottom: 20px;
    }
    &__result {
        @extend .col-md-9;
    }
    &__result-item {
        @extend .col-xs-12;
        padding-bottom: 20px;
    }
}