.master_page_links {
    padding-bottom: 20px;
    &__list {
        padding-top: 10px;
        @extend .col-xs-12;
    }
    &__item {
        padding-bottom: 10px;
        overflow: hidden;
        text-wrap: none;
        text-overflow: ellipsis;
    }
    &__icon {
        @extend %icon;
        @extend %icon_inline;
        @extend %icon_size_xsmall;
        vertical-align: middle;
        &_vk {
            @extend %icon_vk_grey_dark;
        }
        &_ok {
            @extend %icon_ok_grey_dark;
        }
        &_site {
            @extend %icon_earth;
        }
    }
    &__link {
        text-decoration: none;
        span {
            text-decoration: underline;
            vertical-align: middle;
            &:hover {
                text-decoration: none;
            }
        }
    }
}