  $logo: -3px -3px 329px 237px 670px 578px './test.svg' 'logo';
  $close: -3px -243px 65px 65px 670px 578px './test.svg' 'close';
  $close_white: -71px -243px 65px 65px 670px 578px './test.svg' 'close_white';
  $mini-page: -138px -243px 64px 64px 670px 578px './test.svg' 'mini-page';
  $case_white: -205px -243px 64px 64px 670px 578px './test.svg' 'case_white';
  $catalog: -335px -3px 64px 64px 670px 578px './test.svg' 'catalog';
  $add-page: -335px -70px 64px 64px 670px 578px './test.svg' 'add-page';
  $arrow_orange: -335px -137px 64px 64px 670px 578px './test.svg' 'arrow_orange';
  $dialog: -335px -204px 64px 64px 670px 578px './test.svg' 'dialog';
  $dialog_grey_light: -3px -310px 64px 64px 670px 578px './test.svg' 'dialog_grey_light';
  $dialog_madgenta: -70px -310px 64px 64px 670px 578px './test.svg' 'dialog_madgenta';
  $dialog_white: -137px -310px 64px 64px 670px 578px './test.svg' 'dialog_white';
  $earth: -204px -310px 64px 64px 670px 578px './test.svg' 'earth';
  $email: -271px -310px 64px 64px 670px 578px './test.svg' 'email';
  $fb_white: -402px -3px 64px 64px 670px 578px './test.svg' 'fb_white';
  $gift: -402px -70px 64px 64px 670px 578px './test.svg' 'gift';
  $gift_grey_light: -402px -137px 64px 64px 670px 578px './test.svg' 'gift_grey_light';
  $gift_orange: -402px -204px 64px 64px 670px 578px './test.svg' 'gift_orange';
  $gift_white: -402px -271px 64px 64px 670px 578px './test.svg' 'gift_white';
  $icq: -3px -377px 64px 64px 670px 578px './test.svg' 'icq';
  $like: -70px -377px 64px 64px 670px 578px './test.svg' 'like';
  $like_white: -137px -377px 64px 64px 670px 578px './test.svg' 'like_white';
  $case: -204px -377px 64px 64px 670px 578px './test.svg' 'case';
  $man-in-sun_white: -271px -377px 64px 64px 670px 578px './test.svg' 'man-in-sun_white';
  $man: -338px -377px 64px 64px 670px 578px './test.svg' 'man';
  $man_white: -469px -3px 64px 64px 670px 578px './test.svg' 'man_white';
  $medal: -469px -70px 64px 64px 670px 578px './test.svg' 'medal';
  $arrow-breadcrumbs: -469px -137px 64px 64px 670px 578px './test.svg' 'arrow-breadcrumbs';
  $ok_grey_dark: -469px -204px 64px 64px 670px 578px './test.svg' 'ok_grey_dark';
  $ok_white: -469px -271px 64px 64px 670px 578px './test.svg' 'ok_white';
  $page: -469px -338px 64px 64px 670px 578px './test.svg' 'page';
  $people: -3px -444px 64px 64px 670px 578px './test.svg' 'people';
  $phone: -70px -444px 64px 64px 670px 578px './test.svg' 'phone';
  $picture: -137px -444px 64px 64px 670px 578px './test.svg' 'picture';
  $picture_grey_light: -204px -444px 64px 64px 670px 578px './test.svg' 'picture_grey_light';
  $picture_purpur: -271px -444px 64px 64px 670px 578px './test.svg' 'picture_purpur';
  $picture_white: -338px -444px 64px 64px 670px 578px './test.svg' 'picture_white';
  $placemark: -405px -444px 64px 64px 670px 578px './test.svg' 'placemark';
  $qwestion: -536px -3px 64px 64px 670px 578px './test.svg' 'qwestion';
  $qwestion_white: -536px -70px 64px 64px 670px 578px './test.svg' 'qwestion_white';
  $search: -536px -137px 64px 64px 670px 578px './test.svg' 'search';
  $skype: -536px -204px 64px 64px 670px 578px './test.svg' 'skype';
  $star-in-sun: -536px -271px 64px 64px 670px 578px './test.svg' 'star-in-sun';
  $star-line: -536px -338px 64px 64px 670px 578px './test.svg' 'star-line';
  $star: -536px -405px 64px 64px 670px 578px './test.svg' 'star';
  $strelka: -3px -511px 64px 64px 670px 578px './test.svg' 'strelka';
  $strelka_red: -70px -511px 64px 64px 670px 578px './test.svg' 'strelka_red';
  $strelka_white: -137px -511px 64px 64px 670px 578px './test.svg' 'strelka_white';
  $tw_white: -204px -511px 64px 64px 670px 578px './test.svg' 'tw_white';
  $video: -271px -511px 64px 64px 670px 578px './test.svg' 'video';
  $video_green: -338px -511px 64px 64px 670px 578px './test.svg' 'video_green';
  $video_grey_light: -405px -511px 64px 64px 670px 578px './test.svg' 'video_grey_light';
  $video_white: -472px -511px 64px 64px 670px 578px './test.svg' 'video_white';
  $vk_grey_dark: -603px -3px 64px 64px 670px 578px './test.svg' 'vk_grey_dark';
  $vk_white: -603px -70px 64px 64px 670px 578px './test.svg' 'vk_white';

@mixin svg-sprite-position($svg-sprite) {
  $svg-sprite-offset-x: nth($svg-sprite, 1);
  $svg-sprite-offset-y: nth($svg-sprite, 2);
  background-position: $svg-sprite-offset-x  $svg-sprite-offset-y;
}

@mixin svg-sprite-position-percent($svg-sprite) {
    $w : strip-unit(nth($svg-sprite, 5)) - strip-unit(nth($svg-sprite, 3));
    $h : strip-unit(nth($svg-sprite, 6)) - strip-unit(nth($svg-sprite, 4));

    @if $w > 0 {
        $svg-sprite-offset-x: (-1 * strip-unit(nth($svg-sprite, 1))) / $w * 100%;
    } @else {
        $svg-sprite-offset-x: strip-unit(nth($svg-sprite, 1)) + 0%;
    }
    @if $h > 0 {
        $svg-sprite-offset-y: (-1 * strip-unit(nth($svg-sprite, 2))) / $h * 100%;
    } @else {
        $svg-sprite-offset-y: strip-unit(nth($svg-sprite, 2)) + 0%;
    }

    background-position: $svg-sprite-offset-x  $svg-sprite-offset-y;
}

@mixin svg-sprite-size($svg-sprite, $koef: 1) {
    width: nth($svg-sprite, 3) * $koef;
    height: nth($svg-sprite, 4) * $koef;
    background-size: nth($svg-sprite, 5) * $koef auto;
}

@mixin bg-svg-image($svg-sprite, $repeat: no-repeat) {
    background-image: url('%=staticPrefixForCss=%svg-sprite/sprite.svg');
    background-repeat: $repeat;
}

@mixin bg-svg($svg-sprite, $koef: 1, $repeat: no-repeat) {
    @include bg-svg-image($svg-sprite, $repeat);
    @include svg-sprite-position-percent($svg-sprite);
    @include svg-sprite-size($svg-sprite, $koef);
}

%icon {
        &_logo {
            @include svg-sprite-position-percent($logo);
        }
        &_close {
            @include svg-sprite-position-percent($close);
        }
        &_close_white {
            @include svg-sprite-position-percent($close_white);
        }
        &_mini-page {
            @include svg-sprite-position-percent($mini-page);
        }
        &_case_white {
            @include svg-sprite-position-percent($case_white);
        }
        &_catalog {
            @include svg-sprite-position-percent($catalog);
        }
        &_add-page {
            @include svg-sprite-position-percent($add-page);
        }
        &_arrow_orange {
            @include svg-sprite-position-percent($arrow_orange);
        }
        &_dialog {
            @include svg-sprite-position-percent($dialog);
        }
        &_dialog_grey_light {
            @include svg-sprite-position-percent($dialog_grey_light);
        }
        &_dialog_madgenta {
            @include svg-sprite-position-percent($dialog_madgenta);
        }
        &_dialog_white {
            @include svg-sprite-position-percent($dialog_white);
        }
        &_earth {
            @include svg-sprite-position-percent($earth);
        }
        &_email {
            @include svg-sprite-position-percent($email);
        }
        &_fb_white {
            @include svg-sprite-position-percent($fb_white);
        }
        &_gift {
            @include svg-sprite-position-percent($gift);
        }
        &_gift_grey_light {
            @include svg-sprite-position-percent($gift_grey_light);
        }
        &_gift_orange {
            @include svg-sprite-position-percent($gift_orange);
        }
        &_gift_white {
            @include svg-sprite-position-percent($gift_white);
        }
        &_icq {
            @include svg-sprite-position-percent($icq);
        }
        &_like {
            @include svg-sprite-position-percent($like);
        }
        &_like_white {
            @include svg-sprite-position-percent($like_white);
        }
        &_case {
            @include svg-sprite-position-percent($case);
        }
        &_man-in-sun_white {
            @include svg-sprite-position-percent($man-in-sun_white);
        }
        &_man {
            @include svg-sprite-position-percent($man);
        }
        &_man_white {
            @include svg-sprite-position-percent($man_white);
        }
        &_medal {
            @include svg-sprite-position-percent($medal);
        }
        &_arrow-breadcrumbs {
            @include svg-sprite-position-percent($arrow-breadcrumbs);
        }
        &_ok_grey_dark {
            @include svg-sprite-position-percent($ok_grey_dark);
        }
        &_ok_white {
            @include svg-sprite-position-percent($ok_white);
        }
        &_page {
            @include svg-sprite-position-percent($page);
        }
        &_people {
            @include svg-sprite-position-percent($people);
        }
        &_phone {
            @include svg-sprite-position-percent($phone);
        }
        &_picture {
            @include svg-sprite-position-percent($picture);
        }
        &_picture_grey_light {
            @include svg-sprite-position-percent($picture_grey_light);
        }
        &_picture_purpur {
            @include svg-sprite-position-percent($picture_purpur);
        }
        &_picture_white {
            @include svg-sprite-position-percent($picture_white);
        }
        &_placemark {
            @include svg-sprite-position-percent($placemark);
        }
        &_qwestion {
            @include svg-sprite-position-percent($qwestion);
        }
        &_qwestion_white {
            @include svg-sprite-position-percent($qwestion_white);
        }
        &_search {
            @include svg-sprite-position-percent($search);
        }
        &_skype {
            @include svg-sprite-position-percent($skype);
        }
        &_star-in-sun {
            @include svg-sprite-position-percent($star-in-sun);
        }
        &_star-line {
            @include svg-sprite-position-percent($star-line);
        }
        &_star {
            @include svg-sprite-position-percent($star);
        }
        &_strelka {
            @include svg-sprite-position-percent($strelka);
        }
        &_strelka_red {
            @include svg-sprite-position-percent($strelka_red);
        }
        &_strelka_white {
            @include svg-sprite-position-percent($strelka_white);
        }
        &_tw_white {
            @include svg-sprite-position-percent($tw_white);
        }
        &_video {
            @include svg-sprite-position-percent($video);
        }
        &_video_green {
            @include svg-sprite-position-percent($video_green);
        }
        &_video_grey_light {
            @include svg-sprite-position-percent($video_grey_light);
        }
        &_video_white {
            @include svg-sprite-position-percent($video_white);
        }
        &_vk_grey_dark {
            @include svg-sprite-position-percent($vk_grey_dark);
        }
        &_vk_white {
            @include svg-sprite-position-percent($vk_white);
        }
}
