  $logo: 0px 0px 329px 237px 329px 1965px './test.svg' 'logo';
  $ok_white: 0px -237px 64px 64px 329px 1965px './test.svg' 'ok_white';
  $case: 0px -301px 64px 64px 329px 1965px './test.svg' 'case';
  $catalog: 0px -365px 64px 64px 329px 1965px './test.svg' 'catalog';
  $dialog: 0px -429px 64px 64px 329px 1965px './test.svg' 'dialog';
  $dialog_white: 0px -493px 64px 64px 329px 1965px './test.svg' 'dialog_white';
  $fb_white: 0px -557px 64px 64px 329px 1965px './test.svg' 'fb_white';
  $gift: 0px -621px 64px 64px 329px 1965px './test.svg' 'gift';
  $gift_white: 0px -685px 64px 64px 329px 1965px './test.svg' 'gift_white';
  $like: 0px -749px 64px 64px 329px 1965px './test.svg' 'like';
  $add-page: 0px -813px 64px 64px 329px 1965px './test.svg' 'add-page';
  $main-in-sun_white: 0px -877px 64px 64px 329px 1965px './test.svg' 'main-in-sun_white';
  $medal: 0px -941px 64px 64px 329px 1965px './test.svg' 'medal';
  $mini-page: 0px -1005px 64px 64px 329px 1965px './test.svg' 'mini-page';
  $arrow_orange: 0px -1069px 64px 64px 329px 1965px './test.svg' 'arrow_orange';
  $page: 0px -1133px 64px 64px 329px 1965px './test.svg' 'page';
  $people: 0px -1197px 64px 64px 329px 1965px './test.svg' 'people';
  $picture: 0px -1261px 64px 64px 329px 1965px './test.svg' 'picture';
  $picture_white: 0px -1325px 64px 64px 329px 1965px './test.svg' 'picture_white';
  $qwestion: 0px -1389px 64px 64px 329px 1965px './test.svg' 'qwestion';
  $search: 0px -1453px 64px 64px 329px 1965px './test.svg' 'search';
  $star-in-sun: 0px -1517px 64px 64px 329px 1965px './test.svg' 'star-in-sun';
  $star: 0px -1581px 64px 64px 329px 1965px './test.svg' 'star';
  $strelka: 0px -1645px 64px 64px 329px 1965px './test.svg' 'strelka';
  $tw_white: 0px -1709px 64px 64px 329px 1965px './test.svg' 'tw_white';
  $video: 0px -1773px 64px 64px 329px 1965px './test.svg' 'video';
  $video_white: 0px -1837px 64px 64px 329px 1965px './test.svg' 'video_white';
  $vk_white: 0px -1901px 64px 64px 329px 1965px './test.svg' 'vk_white';

@mixin svg-sprite-position($svg-sprite) {
  $svg-sprite-offset-x: nth($svg-sprite, 1);
  $svg-sprite-offset-y: nth($svg-sprite, 2);
  background-position: $svg-sprite-offset-x  $svg-sprite-offset-y;
}

@mixin svg-sprite-position-percent($svg-sprite) {
    $w : strip-unit(nth($svg-sprite, 5)) - strip-unit(nth($svg-sprite, 3));
    $h : strip-unit(nth($svg-sprite, 6)) - strip-unit(nth($svg-sprite, 4));

    @if $w > 0 {
        $svg-sprite-offset-x: (-1 * strip-unit(nth($svg-sprite, 1))) / $w * 100%;
    } @else {
        $svg-sprite-offset-x: strip-unit(nth($svg-sprite, 1)) + 0%;
    }
    @if $h > 0 {
        $svg-sprite-offset-y: (-1 * strip-unit(nth($svg-sprite, 2))) / $h * 100%;
    } @else {
        $svg-sprite-offset-y: strip-unit(nth($svg-sprite, 2)) + 0%;
    }

    background-position: $svg-sprite-offset-x  $svg-sprite-offset-y;
}

@mixin svg-sprite-size($svg-sprite, $koef: 1) {
    width: nth($svg-sprite, 3) * $koef;
    height: nth($svg-sprite, 4) * $koef;
    background-size: nth($svg-sprite, 5) * $koef auto;
}

@mixin bg-svg-image($svg-sprite, $repeat: no-repeat) {
    background-image: url('%=staticPrefixForCss=%svg-sprite/sprite.svg');
    background-repeat: $repeat;
}

@mixin bg-svg($svg-sprite, $koef: 1, $repeat: no-repeat) {
    @include bg-svg-image($svg-sprite, $repeat);
    @include svg-sprite-position-percent($svg-sprite);
    @include svg-sprite-size($svg-sprite, $koef);
}