.article_recommended {
    @extend .col-xs-12;
    padding-top: 20px;
    &__block {
        background-color: $color-bg-grey-light;
        padding: 20px;
    }
    &__title {
        padding-bottom: 10px;
        @include font-tuning(20, 20);
    }
    &__item {
        padding-bottom: 5px;
    }
}