.main-page{
    padding-top: 20px;
}
.main-function {
    @extend .col-md-9;
    &__inner{
        background-color: $color-blue-light;
        padding:10px;
    }
}
.dop-function{
    @extend .col-md-3;
}