.present_competition_member {

    padding: 10px 10px 20px;
    &__title {
        padding-bottom: 10px;
        color: $color-bg-grey-dark;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__photo {
        display: block;
        height: 200px;
        overflow: hidden;
        margin-bottom: 10px;
        position: relative;
        &:hover {
            &:before {
                content: '';
                display: block;
                @include position(absolute, 0px 0px 0px 0px);
                z-index: 2;
                background-color: rgba(0, 0, 0, .5);
            }
            &:after {
                content: 'смотреть описание';
                display: block;
                position: absolute;
                z-index: 3;
                text-align: center;
                color: $color-orange;
                font-weight: bold;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        img {
            width: 100%;
            @include vertical-align;
        }
    }
    &__score {
        display: none;
        font-weight: bold;
        color: $color-orange;
        text-align: center;
        @include font-tuning(25, 40);
    }
    &__all-photos {
        display: none;
        width: 100%;
    }
}