.one_level_rubrikator{
    @extend .bg_grey;
    padding: 10px;
    @include font-tuning(13,16);
    &__item{
        margin: 5px 0;
        &_active{
            color: $color-text-red;   
            .one_level_rubrikator__icon{
                 @extend %icon_strelka_red;
            }
        }
    }
    &__link{
        text-decoration: none;
        padding-left: 12px;
        position: relative;
        display: block;
        &:hover{
            color: $color-text-red;
        }
    }
    &__icon{
        position: absolute;
        left: 0;
        top: 4px;
        @extend %icon;
        @extend %icon_block;
        @extend %icon_size_xxxsmall;
        @extend %icon_strelka;
    }
    &__count{
        font-size: 11px;
    }
    &__inner{
        &-list{
            margin-top: 5px;
            margin-bottom: 10px;
            margin-left: 12px;
            @include pxrem(font-size, 12px);
            @include pxrem(line-height, 16px);
        }
        &-link{
            @extend .one_level_rubrikator__link;
        }
        &-count{
            @extend .one_level_rubrikator__count;
        }
    }
}