.master_navigation {
    padding-top: 10px;
    @include cf;
    &__prev {
        height: 42px;
        width: 110px;
        float: left;
        padding-right: 10px;
        border-right: 1px solid $color-bg-grey-medium;
        overflow: hidden;
        .master_navigation {
            &__text {
                float: left;
                margin-right: 10px;
            }
            &__icon {
                float: left;
                transform: rotate(180deg) translateY(50%);
            }
        }
    }
    &__next {
        height: 42px;
        width: 110px;
        float: left;
        padding-left: 10px;
        overflow: hidden;
        .master_navigation {
            &__text {
                float: left;
                margin-left: 10px;
            }
            &__src {
                float: left;
            }
            &__icon {
                float: left;
            }
        }
    }
    &__text {
        @include font-tuning(10, 10);
        @include vertical-align;
    }
    &__src {
        width: 42px;
        @include vertical-align;
    }
    &__icon {
        @extend %icon;
        @extend %icon_block;
        @extend %icon_size_xsmall;
        @extend %icon_strelka;
        @include vertical-align;
    }
}