.section-reg {
    padding-top: 50px;
    padding-bottom: 50px;
    @extend .bg_orange;
    @include to(md) {
        padding-top: 0px;
        padding-bottom: 0px;
        background: none;
    }
    @include at(xs) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.form_reg-master {
    width: 600px;
    margin: 0 auto;
    background-color: $color-yellow;
    padding: 25px;

    @include to(md) {
        width: 100%;
    }
    @include at(xs) {
        padding: 15px;
    }

    .form {
        &__title {
            margin-top: 0;
            text-align: center;
            color: #585452; //not good - disigner fail
            @include font-tuning(25, 30);
            @include at(xs) {
                margin-bottom: 0;
                @include font-tuning(18, 25);
            }
        }
        &__form {
            @include at(xs) {
                display: none;
            }
        }
        &__row {
            padding-top: 10px;
            &_half {
                padding-top: 10px;
                padding-bottom: 10px;
                @extend .col-md-6;
            }
        }
        &__btn {
            @extend .btn_color_red;
            @extend .btn_size_big;
        }

    }
}