.company-rubrika-page{
    @extend .col-xs-12;
    @include at(xs){
        padding: 0;
    }
}
.company-list{
    @extend .col-lg-9;
    &__card{
        padding-bottom: 20px;
        @extend .col-lg-4;
    }
}
.company_card{    
    padding:10px;
    background-color: $color-bg-grey-xmedium;
    &__name{
        margin-bottom: 15px;
        text-align:center;
        font-weight: bold;
        color: #000;
        height: 42px;
        overflow: hidden;
        @include font-tuning(16.5,21.4);
    }
    &__logo-wr{
        @extend .col-xs-6;
        height: 92px;
        background-color: #fff;
        background-clip:content-box;
    }
    &__logo{
        width:100%;
        @include vertical-align;
    }
    &__info{
        @extend .col-xs-6;
        padding-left:0;
    }
    &__count_masters, &__count_likes{
        text-align:center;
        color:#000;
        margin-bottom: 10px;
        @include font-tuning(14,18);        
    }
    &__icons{
        @extend .row;
        
    }
}