.sale {
    &_vert {
        padding-bottom: 10px;
        @extend .bg_grey;
        &:hover {
            background-color: $color-bg-grey-xmedium;
            .sale__title {
                background-color: darken($color-orange, 3);
            }
        }
        .sale {
            &__pic {
                padding: 10px 10px 0 10px;
                max-height: 126px;
                overflow: hidden;
            }
            &__img {
                width: 100%;
            }
            &__text {
                padding: 10px 10px 0 10px;
                height: 90px;
                overflow: hidden;
                text-overflow: ellipsis;
                @include font-tuning(13, 16);
            }
        }
    }
    &_vert_w {
        @extend .sale_vert;
        background-color: #fff;
        height: 250px;
        &:hover {
            background-color: #FAFAFA;
        }
        .sale {
            &__pic {
                padding: 0;
            }
            &__text {
                height: 70px;
                padding-top: 5px;
            }
        }
    }
    //&_vertical {
    //    margin-bottom: 20px;
    //    .sale {
    //        &__link {
    //            height: 219px;
    //            overflow: hidden;
    //            display: block;
    //            &:hover {
    //                .sale__text {
    //                    height: auto;
    //                    overflow: auto;
    //                }
    //                .sale__title {
    //                    background-color: darken($color-orange, 3);
    //                }
    //            }
    //            @include at(md) {
    //                height: 215px;
    //            }
    //            @include at(sm) {
    //                height: 195px;
    //            }
    //            @include at(xs) {
    //                height: auto;
    //            }
    //        }
    //        &__pic {
    //            background-color: #fff;
    //            @include at(xs) {
    //                display: none;
    //            }
    //        }
    //        &__img {
    //            width: 100%;
    //        }
    //        &__text {
    //            position: absolute;
    //            bottom: 20px;
    //            background-color: #fff;
    //            padding: 3px 3px;
    //            height: 53px;
    //            overflow: hidden;
    //            width: 159px;
    //            @include at(md) {
    //                width: 157px;
    //            }
    //            @include at(sm) {
    //                height: 60px;
    //                width: 134px;
    //            }
    //            @include at(xs) {
    //                height: auto;
    //                width: auto;
    //                position: static;
    //            }
    //        }
    //    }
    //}
    &_gorizontal {
        .sale {
            &__pic {
                width: 100px;
            }
        }
    }

    &__link {
        text-decoration: none;
    }
    &__title {
        background-color: $color-orange;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    &__text {
        @include font-tuning(13, 16);
        @include at(sm) {
            @include font-tuning(11, 12);
        }
    }
}

.sale_popup {
    @extend .col-xs-12;
    background-color: $color-bg-grey-light;
    display: none;
    &__title {
        padding: 10px 0;
        background-color: $color-orange;
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__pic {
        float: left;
        margin-right: 15px;
    }
    &__text {
        padding: 20px;
    }
    &__date {
        padding: 10px 20px;
        font-weight: bold;
        @include font-tuning(20, 20);
    }
}