.master_minicard {
    @extend .bg_grey;
    padding: 20px;
    position: relative;
    overflow: hidden;

    &_free {
        height: 256px;
    }
    &_premium {
        height: 298px;
    }

    &__left-column {
        @extend .col-md-3;
        padding-right: 0;
    }
    &__right-column {
        @extend .col-md-9;
        padding-left: 20px;
    }
}

.master_photo-and-contacts {
    &__photo {
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 20px;
    }

    &__to-page {
        font-size: 0.68em;
        @extend .btn;
        @extend .btn_size_xmedium;
        @extend .btn_color_pink;
        @extend .btn_uppercase;
    }
    &__icon {
        position: relative;
        top: 2px;
        @extend %icon;
        @extend %icon_inline;
        @extend %icon_size_xxsmall;
        @extend %icon_strelka_white;
    }
    &__likes{
        position: absolute;
        display: block;
        width: 57px;
        height: 23px;
        padding: 0 5px;
        background-color: $color-bg-grey-medium;
        color: #FFFFFF;
        text-decoration: none;
        top: 130px;
        left: 10px;
        @include font-tuning(14, 23);
        &:hover {
            color: #FFFFFF;
        }
    }
    &__icon-like{
        @extend %icon;
        @extend %icon_inline;
        @extend %icon_size_xxsmall;
        @extend %icon_like_white;
        margin-right: 5px;
    }
}

.master_name-and-spec {
    &_half {
        @extend .col-md-7
    }
    &_wide {
        @extend .col-md-12
    }
    &__name {
        font-weight: bold;
        @include font-tuning(18, 20);
    }
    &__spec {
        font-weight: bold;
        @include font-tuning(14, 18);
    }
}

.master_services {
    @include font-tuning(13, 14);
    &_half {
        @extend .col-md-7;
    }
    &_wide {
        @extend .col-md-11;
    }
}

.master_company {
    @extend .col-md-5;
    float: right;
    &__logo {
        float: left;
        margin-right: 10px;
    }
    &__name {
        height: 70px;
        overflow: hidden;
        @include font-tuning(13, 17);
    }
}

.master_presentation {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-left: 0px;
}

.master_have-content-widget {
    display: none;
    margin-right: 25px;
    background-color: #ffffff;
    width: 180px;
    height: 180px;
    padding: 5px;

    &.active {
        display: block;
    }

    &__desc {
        padding-top: 10px;
        @include font-tuning(10, 14);
    }

    &__main {
        height: 83px;
        color: #FFFFFF;
        text-align: center;
        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0px;
        }
    }

    &_gift {
        .master_have-content-widget {
            &__main {
                background-color: $color-orange;
                .title {
                    display: inline-block;
                    font-weight: bold;
                    text-transform: uppercase;
                    vertical-align: middle;
                    @include font-tuning(14, 16);
                }
            }
            &__desc {
                text-align: center;
            }
        }
    }
    &_photo {
        .master_have-content-widget {
            &__main {
                background-color: $color-purpur;
                .title {
                    display: inline-block;
                    vertical-align: middle;
                    @include font-tuning(14, 16);
                }
                .count {
                    font-weight: bold;
                }
            }
            &__desc {
                text-align: center;
            }
        }
    }
    &_video {
        .master_have-content-widget {
            &__main {
                overflow: hidden;
                position: relative;
                &:after {
                    content: ' ';
                    display: block;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -50%);
                    border-left: 50px solid #fff;
                    border-top: 25px solid transparent;
                    border-bottom: 25px solid transparent;
                    opacity: 0.8;
                }
                &:hover {
                    &:after {
                        border-left-color: $color-orange;
                    }
                }
                img {
                    width: 100%;
                }
            }
            &__desc {
                text-align: left;
            }
        }
    }
    &_comments {
        .master_have-content-widget {
            &__main {
                background-color: $color-magenta;
                .title {
                    display: inline-block;
                    vertical-align: middle;
                    @include font-tuning(14, 16);
                }
                .count {
                    font-weight: bold;
                }
            }
            &__desc {
                text-align: left;
            }
        }
    }
}
